config/myinit.org~
.stignore
auto-save-list
org-roam.db
elpa
org.org~
init.el~
inbox.org_archive~
inbox.org~
bookmarks~
amx-items
.org-id-locations
.mc-lists.el
.DS_Store
tutorial
transient
straight
env
bookmarks
lost+found
*~
*.sync-conflict*
japan-util.elc
kkcrc
.stfolder
org-roam.db
\#*\#
*.org_archive
url/
tramp
# org-roamは別リポジトリとして管理
org-roam
inbox.org
org.org
images/
.#*.org
